{% spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta content="index,follow" name="robots">
    <meta content="{% block description %}{{ 'common.meta.description' | trans }}{% endblock %}" name="description">
    <meta content="{% block keywords %}{{ 'common.meta.keywords' | trans }}{% endblock %}" name="keywords">
    <meta content="7 days" name="revisit-after">
    <title>SylviaEstruch.com{% block title %}{% endblock %}</title>
    {% stylesheets output='css/compressed.css'
                    '@SEstruchWebsiteBundle/Resources/public/css/01-normalize.css'
                    '@SEstruchWebsiteBundle/Resources/public/css/10-style.css'
                    '@SEstruchWebsiteBundle/Resources/public/css/30-lightbox.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
    <link rel="shortcut icon" href="/favicon.ico">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div id="container">
    <header>
        <nav id="langs">
            <ul>
                {% if app.request.locale != 'es' %}<li><a href="{{ path('homepage', {'_locale' : 'es'}) }}">Castellano</a></li>{% endif %}
                {% if app.request.locale != 'ca' %}<li><a href="{{ path('homepage', {'_locale' : 'ca'}) }}">Català</a></li>{% endif %}
                {% if app.request.locale != 'en' %}<li><a href="{{ path('homepage', {'_locale' : 'en'}) }}">English</a></li>{% endif %}
            </ul>
        </nav>
        <div id="logo">
            <a href="{{ path('homepage') }}">
                <img src="/images/logo.gif" />
            </a>
            <h1>
                <span>{{ 'common.header.description1' | trans }}</span>
                <span>{{ 'common.header.description2' | trans }}</span>
            </h1>
        </div>
    </header>
    <nav id="menu">
        <ul class="sections clearfix">
            <li><a href="{{ path('biography') }}">{{ 'common.secciones.biografia' | trans }}</a></li>
            <li><a href="{{ path('default_painting') }}">{{ 'common.secciones.pintura' | trans }}</a></li>
            {#<li><a href="{{ path('restauracion', {'locale' : app.request.locale,  'section' : 'common.secciones.restauracion' | trans | lower }) }}">{{ 'common.secciones.restauracion' | trans }}</a></li>#}
            {#<li><a href="{{ path('disenyo', {'locale' : app.request.locale,  'section' : 'common.secciones.diseño' | trans | lower }) }}">{{ 'common.secciones.diseño' | trans }}</a></li>#}
            <li><a href="{{ path('default_theater') }}">{{ 'common.secciones.teatro' | trans }}</a></li>
            <li><a href="{{ path('contact') }}">{{ 'common.secciones.contacto' | trans }}</a></li>
        </ul>
        {% block subsections %}
        {% endblock %}
    </nav>
    {% block content %}{% endblock %}
    <footer>www.sylviaestruch.com</footer>
</div>
{% javascripts output='js/compressed.js'
                '@SEstruchWebsiteBundle/Resources/public/js/jquery.js'
                '@SEstruchWebsiteBundle/Resources/public/js/jquery.lightbox-0.5.pack.js'
                '@SEstruchWebsiteBundle/Resources/public/js/funciones.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript" src="{{ path('frasesjs') }}"></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '{{ ga_tracking }}']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
{% endspaceless %}