{% extends 'SEstruchWebsiteBundle::layout.html.twig' %}

{% block subsections %}
    {{ app.request.get('locale') }}
<ul class="subsections clearfix">
    {% for cat in cats %}
        <li><a href="{{ path('painting', {'id' : cat.id, 'slug' : attribute(cat, 'title' ~ app.request.locale) | slug }) }}">{{ attribute(cat, 'title' ~ app.request.locale | title) }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
<section class="clearfix">
<ul id="obras">
{% for obra in obras %}
    <li>
        <span class="contenedor">
            {% for i in 1..6 if attribute(obra, 'foto' ~ i) is not empty %}
            <a class="foto_{{ obra.id }}" href="{{ asset('uploads/pintura/' ~ attribute(obra, 'foto' ~ i)) | imagine_filter('pintura_big') }}">
                <img src="{{ asset('uploads/pintura/' ~ attribute(obra, 'foto' ~ i)) | imagine_filter('pintura_thumb') }}"/>
            </a>
            {% endfor %}
        </span>
    </li>
{% endfor %}
</ul>
</section>
{% endblock %}