{% extends 'SEstruchWebsiteBundle::layout.html.twig' %}

{% block subsections %}
    {{ app.request.get('locale') }}
    <ul class="subsections clearfix">
        {% for cat in cats %}
            <li><a href="{{ path('theater', {'id' : cat.id, 'slug' : attribute(cat, 'title' ~ app.request.locale) | slug }) }}">{{ attribute(cat, 'title' ~ app.request.locale | title) }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<section class="clearfix">
    <ul id="obras">
        {% for obra in obras %}
            <li>
    <span class="contenedor">
        {% for i in 1..6 if attribute(obra, 'foto' ~ i) is not empty %}
            <a class="foto_{{ obra.id }}" {% if not loop.first %} style="display: none"{% endif %}href="{{ asset('uploads/teatro/' ~ attribute(obra, 'foto' ~ i)) | imagine_filter('teatro_big') }}" title="{% if obra.title is not empty %}{{ obra.title }}{% else %}{{ attribute(obra.category, 'title' ~ app.request.locale | title) }}{% endif %}">
                <img src="{{ asset('uploads/teatro/' ~ attribute(obra, 'foto' ~ i)) | imagine_filter('teatro_thumb') }}"/>
            </a>
        {% endfor %}
    </span>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}